<!-- views/partials/header.ejs -->

<nav class="navbar">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/upload">Upload</a></li>
        <li><a href="/statistics">Statistics</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/register">Register</a></li>
        <li><a href="/bigml">BigML</a></li>
    </ul>
</nav>
    