<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>
    <h1>
    סטטיסטיקות נתונים ישנות
    </h1>
    <br/>
    <image src="index.jpeg" width="35%"/><br/>
    <h1>
    חשיבות כל אחד מהנתונים עבור עץ ההחלטה
    </h1>
    <br/>
    <image src="index2.jpeg" width="35%"/><br/>
    <h1>
    עץ ההחלטה עצמו
    </h1>
    <br/>
    <iframe src="https://bigml.com/embedded/model/tB5In3JE7rgXt1e1swcA0jZ0Da7" width="75%" height=400px></iframe>
    <br>
    
</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>