<!-- views/pages/login.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>
    Login<br><hr>
    <!-- show any messages that come back with authentication -->
    <% if (message.length > 0) { %>
        <div class="alert alert-danger"></div><%= message %></div>
    <% } %>
    <form action="/login" method="post">
        <div>
            <label>Username:</label>
            <input type="text" name="username"/>
        </div>
        <div>
            <label>Password:</label>
            <input type="password" name="password"/>
        </div>
        <div>
            <input type="submit" value="Log In"/>
        </div>
    </form>
    <p>Need an account? <a href="/register">Signup</a></p>
    <p>Or go <a href="/">home</a>.</p>
</main>
<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>