<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>
<div style="width: 75%">
    <canvas id="myChart"></canvas>
</div>

<script>

	var labels = <%- JSON.stringify(labels) %>; 
	var dataset_label = "<%= dataset_label %>";
	var title_text = "<%= title_text %>";




	let myChart = document.getElementById('myChart').getContext('2d');
    // Global Options
    //Chart.defaults.global.defaultFontFamily = 'Lato';
    //Chart.defaults.global.defaultFontSize = 18;
    //Chart.defaults.global.defaultFontColor = '#777';

    let massPopChart = new Chart(myChart, {
        type:'line', // bar, horizontalBar, pie, line, doughnut, radar, polarArea
        data:{
        labels: labels,
        datasets:[{
            label: dataset_label,
            data:[
                  0, 1, 2, 3,4,new Date().getSeconds()
                ],
                //backgroundColor:'green',
                
                borderWidth:3,
                borderColor: "#000",
                hoverBorderWidth:4
            }]
        },
        options:{
			title:{
				display:true,
				text: title_text,
				fontSize:25
			},
			legend:{
				display:true,
				position:'right',
				labels:{
					fontColor:'#000'
				}
			}
        }
    });
    </script>
</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html> 